/* somhow this is not compiled... why ? /*
// /*condensing input */
.form-group {
    margin-bottom: 5px
}

/* condensign cards */
.field-wrapper {
    min-height:0px;

    .col-xs-6 {
        margin-bottom: 2px;

    }
}

.card
    .body {
        @for $i from 1 through 12 {
            .col-xs-#{$i},
            .col-sm-#{$i},
            .col-md-#{$i},
            .col-lg-#{$i} {
                margin-bottom: 2px;
            }

        }
}

field-wrapper .col-lg-4 .col-md-4 .col-sm-6 .col-xs-6 {
    margin-bottom: 2px;
    background-color:blue;
}
